.lista-cms {
    
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.img-thumbnail {
    max-width: 100px;
    height: auto;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}
.lista{
    
}

.thumbnail{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

/* Media query para telas menores (celulares) */
@media (max-width: 600px) {
    table {
        border: 0;
        text-align: left;
    }

    thead {
        display: none;
    }

    tr {
        display: block;
        margin-bottom: 15px;
        word-wrap: break-word;
        
    }

    td {
        display: flex;
        text-align: left;
        border-bottom: 1px solid #ddd;
        position: relative;        
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    td img {
        max-width: 80px;
        height: auto;
    }

    td:last-child {
        text-align: right;
    }
}